#content {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
   }
   #footer {

    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #000000; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
    text-align: center;
   }
.sq{
    display: inline-block;
}
.sz{
    padding: 5px;
    width: 40px;
    height: 40px;
}
.sw{
    text-align: center;
}